<div style="padding:0;margin:0 auto;width:100%!important;
font-family:Helvetica,Arial,sans-serif">
    <table style="background-color:#c8d1da;table-layout:fixed" align="center" cellspacing="0" cellpadding="0" width="90%" border="0" bgcolor="#edf0f3">
        <tbody>
            <tr>
                <td align="center" style="font-weight: bold;font-size: 18px;background-color:rgb(174, 206, 255);padding:10px;border-bottom:1px solid #bebebe">
                    Hi {{ username }}
                </td>
            </tr>
            <tr align="center">
                <td style="padding:12px;background: #F6F8FA">
                    <div>
                        {{ body }}
                        <br/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>